.header {
    grid-area: header;
    background-color: #F7F8FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}