.sidenav {
    grid-area: sidenav;
    background-color: #363740;
    display: flex;
    flex-direction: column;
}

.sidenav_list {
    padding: 0;
    margin-top: 30px;
    list-style-type: none;
}

.sidenav_list-item {
    padding: 20px 20px 20px 40px;
    color: #ffffff;
}

.sidenav_list-link {
    color: white;
}

.logo {
    padding: 20px 0px 0px 30px;
}

.logoG {
    padding-top: 20px;
    align-self: center;
}