.App {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    'sidenav header'
    'sidenav main';
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    'sidenav header'
    'sidenav main';
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: #F7F8FC;
}
